#wrapper {
    text-align: center;
}
h1 {
    font-family: 'Bitter' ;
    font-size: 4rem;
    color: white;
    text-shadow: yellow 2px;
}

.quiz-container {
    width: 600px;
    background-color: white;
    border: 1px solid black;
    font-family: 'Bitter' ;
    box-shadow: 0 0 10px 1px;
    padding: 20px;

}
body {
    background-image: url("https://media.npr.org/assets/news/2010/01/12/nbcoffice2_wide-37d84499e597cec4857fc4ba8d0bce2373f7e83d-s700-c85.jpg");
    background-attachment: fixed;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.btn-grid {
    display:grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.answers {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px;
    font-size: 1.5rem;
    background-color: cadetblue;
}

.answers:hover{
    border-color: yellow;
}

.start-btn, .next-btn, .reset {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: cadetblue;
}

